.input-auth-block {
    position: relative;
}
  
.input-auth-block label {
    font-size: 1.4rem;
}
  
.input-auth-block input {
    width: 352px;
    height: 72px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    box-sizing: border-box;
    padding: 12px;
}
  
.input-auth-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}